<div ng-controller='homeController'> 
    Search: <input type='text' ng-model='search'/>
    Search by title: <input type='text' ng-model='search.title'/>
    Search is {{search}}
    <label>Blah blah blah</label> 
    <input type='text' ng-model='hello' placeholder='blahblah'> 
    <hr> 
    <h1>{{hello}}</h1> 
    <div class="form">
      Title: <input ng-model= 'newPost.title'  type="text"/>
      Content: <input ng-model='newPost.content' type="text"/>
      Tags: <span ng-repeat="tag in tags">
        <input type="checkbox" value="tag.id" ng-click="toggleId(tag.id)">{{tag.name}}</input>
      </span>
      <button ng-click='submitNewPost()'>Create new post</button>
    </div>
  the new post is: {{newPost}}
    <span ng-repeat="post in posts | filter:search:strict"><h2>{{post.title}}</h2> <br> {{post.date | date:'EEEE'}} <br><p>{{post.content}}</p> <br> <small ng-repeat ='tag_id in post.tag_ids'>{{getTagName(tag_id)}}</small><hr></span>
</div> 


